* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.my-truncate-line-2 {
  -webkit-line-clamp: 2;
  line-height: 1.3;

}