@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7h5sp4');
  src:  url('fonts/icomoon.eot?7h5sp4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7h5sp4') format('truetype'),
    url('fonts/icomoon.woff?7h5sp4') format('woff'),
    url('fonts/icomoon.svg?7h5sp4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e918";
}
.icon-exit:before {
  content: "\e919";
}
.icon-calendar:before {
  content: "\e917";
}
.icon-next:before {
  content: "\e916";
}
.icon-edit:before {
  content: "\e915";
}
.icon-check:before {
  content: "\e914";
}
.icon-hide:before {
  content: "\e912";
}
.icon-view:before {
  content: "\e913";
}
.icon-lock:before {
  content: "\e911";
}
.icon-back:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e90d";
}
.icon-star1:before {
  content: "\e90e";
}
.icon-star2:before {
  content: "\e90f";
}
.icon-filter:before {
  content: "\e90c";
}
.icon-msg:before {
  content: "\e90b";
}
.icon-google:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e909";
}
.icon-order:before {
  content: "\e906";
}
.icon-voucher:before {
  content: "\e907";
}
.icon-ship:before {
  content: "\e908";
}
.icon-cart:before {
  content: "\e904";
}
.icon-warning:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e900";
}
.icon-cate:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
